<!-- ------------ Banner section -->
  <section class="build-section">
    <div class="wrapper">
      <div class="container">
        <div class="content-box">
          <h3 class="heading">Build Your Own Bundle</h3>
          <span class="bundle-desc-s">
          Create your custom kit and stack free goods as you build your perfect bathroom.</span>
        </div>
      </div>
      <div class="container-s">
        <div class="content-box-s">
          <h3 class="heading-s">ONE TIME</h3>
          <div class="btn-s">
            <label class="switch-button-s">
            <input type="checkbox" class="slide_round"> 
            <span class="slider round"></span> 
            </label>
          </div>
          <h3 class="heading-s">SUBSCRIBE &amp; SAVE</h3>
        </div>
        <div class="bundle-sub">
          <h3 class="subscribe-sec">
            SUBSCRIBE &amp; SAVE 15% ON EVERY ORDER. SHIPS EVERY 45 DAYS, RESCHEDULE ANY TIME.
          </h3>
        </div>
      </div>
    </div>
  </section>
<!--------  end-section --------- -->


<!---------------  check out section  -->
  <section class="checkout-section">
    <div class="wrapper">
      <div class="check-sec-inr">
        <div class="col-sec-main">
          <div class="new_tab">
            <div id="progress_bar_main" class="progress-container" data-percentage='20'>
              <div class="progress progress-bar" style="background: rgb(234, 40, 41); width: 0%;">
              </div>
              <ul class="first_list">
                <li style="visibility:hidden;">SPEND:</li>
                <li class="progress_right progress_right1">$40 </li>
                <li class="progress_right progress_right2">$50</li>
                <li class="progress_right progress_right3">$75</li>
              </ul>
              <ul class="sec_list">
                <li>
                  <span>First Shipment</span>
                </li>
                <li>
                  <span>Second Shipment</span>
                </li>
                <li>
                  <span>Third shipment</span>
                </li>
                <li>
                  <span>Fourth shipment</span>
                </li>
              </ul>
            </div>
            <div class="button-wrapper">
              <a href="javascript:void(0)" class="button button--primary add_bundle_cart">Checkout: <span class="cart_price">$0.00</span></a>
              <span class="loader-button__loader">
                <div class="spinner">
                  <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                    <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                  </svg>
                </div>
              </span>
            </div>
          </div>
          <div class="column-box-sec">
            <!-- <div class="box-title" product_id="12548652354210">
              <p> here is example </p>
            </div> -->
            <% (1..4)&.each do |i| %>
              <div class="col-box">
                <div class="col-box-inr">
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<!----------  end-section ------------>


<!-- -------------  best seller section -- -->
<section class="seller-section">
  <div class="wrapper">
    <div class="seller-sec-inr">
      <div class="section-title">
        <h2>Best Sellers</h2>
      </div>
      <div class="seller-box-sec owl-carousel" id="about-us">
        <div>
          <div class="seller-box">
            <div class="seller-box-inr">
              <div class="sell-box">
                <img src="https://cdn.shopify.com/s/files/1/0051/5892/8473/products/bw-cleanwoods-grey_300x.png?v=1658858735" alt="sell-img">
              </div>
              <div class="seller-box-bottom">
                <div class="box-title" product_id="1254865235421">
                  <h5>Body Wash</h5>
                </div>
                <div class="box-subtitle">
                  <h6>Original Citrus</h6>
                </div>
                <div class="review-two-col">
                  <div class="review-left">
                    <div class="rating__stars">
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="review-right">
                    <div class="review-title">
                      849 reviews
                    </div>
                  </div>
                </div>
                <button is="loader-button" type="button" class="button button--outline button--text button--full AddToCart" product_id="1254865235421">
                  <span class="loader-button__text">
                  Add <span class="dash">-</span> 
                  <span class="span_org_price hide_button">
                  <ins>$16</ins>
                  </span>
                  <span class="span_sub_price" product_id="1254865235421">
                  <del>$16</del>
                  <ins>$19.60</ins>
                  </span>
                  </span>
                  <span class="loader-button__loader" hidden="">
                    <div class="spinner">
                      <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                      </svg>
                    </div>
                  </span>
                </button>
                <ul class="product-card__swatches">
                  <li class="product-card__swatch">
                    <button class="color-swatch no-focus is-active has-swatch-image boost-listings__product-card__product-card-color-swatch" data-color="Tie Dye">
                      <span class="color-swatch__tooltip body-2">Tie Dye</span>
                      <span class="color-swatch__swatch no-focus">
                        <span class="visually-hidden">Sophia Heart Faux Fur Pillow</span>
                        <span class="color-swatch__swatch-inner">
                          <img alt="Tie Dye" src="https://cdn.shopify.com/s/files/1/0607/1844/8811/files/swatch_tie-dye.jpg" onload="this.style.display = 'block'" style="display: block;">
                        </span>
                      </span>
                    </button>
                  </li><li class="product-card__swatch"><button class="color-swatch no-focus has-swatch-image boost-listings__product-card__product-card-color-swatch" data-color="Sky Blue"><span class="color-swatch__tooltip body-2">Sky Blue</span><span class="color-swatch__swatch no-focus"><span class="visually-hidden">Sophia Heart Faux Fur Pillow</span><span class="color-swatch__swatch-inner"><img alt="Sky Blue" src="https://cdn.shopify.com/s/files/1/0607/1844/8811/files/swatch_sky-blue.jpg" onload="this.style.display = 'block'" style="display: block;"></span></span></button></li><li class="product-card__swatch"><button class="color-swatch no-focus has-swatch-image boost-listings__product-card__product-card-color-swatch" data-color="Sage Green"><span class="color-swatch__tooltip body-2">Sage Green</span><span class="color-swatch__swatch no-focus"><span class="visually-hidden">Sophia Heart Faux Fur Pillow</span><span class="color-swatch__swatch-inner"><img alt="Sage Green" src="https://cdn.shopify.com/s/files/1/0607/1844/8811/files/swatch_sage-green.jpg" onload="this.style.display = 'block'" style="display: block;"></span></span></button></li><li class="product-card__swatch"><button class="color-swatch no-focus has-swatch-image boost-listings__product-card__product-card-color-swatch" data-color="Pink"><span class="color-swatch__tooltip body-2">Pink</span><span class="color-swatch__swatch no-focus"><span class="visually-hidden">Sophia Heart Faux Fur Pillow</span><span class="color-swatch__swatch-inner"><img alt="Pink" src="https://cdn.shopify.com/s/files/1/0607/1844/8811/files/swatch_pink.jpg" onload="this.style.display = 'block'" style="display: block;"></span></span></button></li></ul>

                <div class="grid__item radio-wrapper product-form__item">
                  <label class="single-option-radio__label" for="ProductSelect-option-1" data-option-name="Størrelse">Størrelse: <span class="variant-label-option-value">S</span></label><fieldset class="single-option-radio inline-list" id="ProductSelect-option-1"><input type="radio" checked="checked" value="S" data-index="option2" name="option2" class="single-option-selector__radio js-single-option-selector" id="ProductSelect-option-template--16618485776635__main-storrelse-S">

                        <label for="ProductSelect-option-template--16618485776635__main-storrelse-S">S</label><input type="radio" value="M" data-index="option2" name="option2" class="single-option-selector__radio js-single-option-selector" id="ProductSelect-option-template--16618485776635__main-storrelse-M">

                        <label for="ProductSelect-option-template--16618485776635__main-storrelse-M">M</label><input type="radio" value="L" data-index="option2" name="option2" class="single-option-selector__radio js-single-option-selector" id="ProductSelect-option-template--16618485776635__main-storrelse-L">

                        <label for="ProductSelect-option-template--16618485776635__main-storrelse-L">L</label><input type="radio" value="XL" data-index="option2" name="option2" class="single-option-selector__radio js-single-option-selector" id="ProductSelect-option-template--16618485776635__main-storrelse-XL">

                        <label for="ProductSelect-option-template--16618485776635__main-storrelse-XL">XL</label><input type="radio" value="2XL" data-index="option2" name="option2" class="single-option-selector__radio js-single-option-selector" id="ProductSelect-option-template--16618485776635__main-storrelse-2XL">

                        <label for="ProductSelect-option-template--16618485776635__main-storrelse-2XL">2XL</label><input type="radio" value="3XL" data-index="option2" name="option2" class="single-option-selector__radio js-single-option-selector" id="ProductSelect-option-template--16618485776635__main-storrelse-3XL">

                        <label for="ProductSelect-option-template--16618485776635__main-storrelse-3XL">3XL</label></fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="seller-box">
            <div class="seller-box-inr">
              <div class="sell-box">
                <img src="https://cdn.shopify.com/s/files/1/0051/5892/8473/products/bw-cleanwoods-grey_300x.png?v=1658858735" alt="sell-img">
              </div>
              <div class="seller-box-bottom">
                <div class="box-title" product_id="1254865235422">
                  <h5>Body Wash</h5>
                </div>
                <div class="box-subtitle">
                  <h6>Original Citrus</h6>
                </div>
                <div class="review-two-col">
                  <div class="review-left">
                    <div class="rating__stars">
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="review-right">
                    <div class="review-title">
                      849 reviews
                    </div>
                  </div>
                </div>
                <button is="loader-button" type="button" class="button button--outline button--text button--full AddToCart" product_id="1254865235422">
                  <span class="loader-button__text">
                  Add <span class="dash">-</span> 
                  <span class="span_org_price hide_button">
                  <ins>$16</ins>
                  </span>
                  <span class="span_sub_price" product_id="1254865235422">
                  <del>$16</del>
                  <ins>$19.60</ins>
                  </span>
                  </span>
                  <span class="loader-button__loader" hidden="">
                    <div class="spinner">
                      <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                      </svg>
                    </div>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="seller-box">
            <div class="seller-box-inr">
              <div class="sell-box">
                <img src="https://cdn.shopify.com/s/files/1/0051/5892/8473/products/bw-cleanwoods-grey_300x.png?v=1658858735" alt="sell-img">
              </div>
              <div class="seller-box-bottom">
                <div class="box-title" product_id="1254865235423">
                  <h5>Body Wash</h5>
                </div>
                <div class="box-subtitle">
                  <h6>Original Citrus</h6>
                </div>
                <div class="review-two-col">
                  <div class="review-left">
                    <div class="rating__stars">
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="review-right">
                    <div class="review-title">
                      849 reviews
                    </div>
                  </div>
                </div>
                <button is="loader-button" type="button" class="button button--outline button--text button--full AddToCart" product_id="1254865235423">
                  <span class="loader-button__text">
                  Add <span class="dash">-</span> 
                  <span class="span_org_price hide_button">
                  <ins>$16</ins>
                  </span>
                  <span class="span_sub_price" product_id="1254865235421">
                  <del>$16</del>
                  <ins>$19.60</ins>
                  </span>
                  </span>
                  <span class="loader-button__loader" hidden="">
                    <div class="spinner">
                      <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                      </svg>
                    </div>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="seller-box">
            <div class="seller-box-inr">
              <div class="sell-box">
                <img src="https://cdn.shopify.com/s/files/1/0051/5892/8473/products/bw-cleanwoods-grey_300x.png?v=1658858735" alt="sell-img">
              </div>
              <div class="seller-box-bottom">
                <div class="box-title" product_id="1254865235424">
                  <h5>Body Wash</h5>
                </div>
                <div class="box-subtitle">
                  <h6>Original Citrus</h6>
                </div>
                <div class="review-two-col">
                  <div class="review-left">
                    <div class="rating__stars">
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="review-right">
                    <div class="review-title">
                      849 reviews
                    </div>
                  </div>
                </div>
                <button is="loader-button" type="button" class="button button--outline button--text button--full AddToCart" product_id="1254865235424">
                  <span class="loader-button__text">
                  Add <span class="dash">-</span> 
                  <span class="span_org_price hide_button">
                  <ins>$16</ins>
                  </span>
                  <span class="span_sub_price" product_id="1254865235424">
                  <del>$16</del>
                  <ins>$19.60</ins>
                  </span>
                  </span>
                  <span class="loader-button__loader" hidden="">
                    <div class="spinner">
                      <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                      </svg>
                    </div>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="seller-box">
            <div class="seller-box-inr">
              <div class="sell-box">
                <img src="https://cdn.shopify.com/s/files/1/0051/5892/8473/products/bw-cleanwoods-grey_300x.png?v=1658858735" alt="sell-img">
              </div>
              <div class="seller-box-bottom">
                <div class="box-title" product_id="1254865235425">
                  <h5>Body Wash</h5>
                </div>
                <div class="box-subtitle">
                  <h6>Original Citrus</h6>
                </div>
                <div class="review-two-col">
                  <div class="review-left">
                    <div class="rating__stars">
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="review-right">
                    <div class="review-title">
                      849 reviews
                    </div>
                  </div>
                </div>
                <button is="loader-button" type="button" class="button button--outline button--text button--full AddToCart" product_id="1254865235425">
                  <span class="loader-button__text">
                  Add <span class="dash">-</span> 
                  <span class="span_org_price hide_button">
                  <ins>$16</ins>
                  </span>
                  <span class="span_sub_price" product_id="1254865235425">
                  <del>$16</del>
                  <ins>$19.60</ins>
                  </span>
                  </span>
                  <span class="loader-button__loader" hidden="">
                    <div class="spinner">
                      <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                      </svg>
                    </div>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="seller-box">
            <div class="seller-box-inr">
              <div class="sell-box">
                <img src="https://cdn.shopify.com/s/files/1/0051/5892/8473/products/bw-cleanwoods-grey_300x.png?v=1658858735" alt="sell-img">
              </div>
              <div class="seller-box-bottom">
                <div class="box-title" product_id="1254865235426">
                  <h5>Body Wash</h5>
                </div>
                <div class="box-subtitle">
                  <h6>Original Citrus</h6>
                </div>
                <div class="review-two-col">
                  <div class="review-left">
                    <div class="rating__stars">
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="review-right">
                    <div class="review-title">
                      849 reviews
                    </div>
                  </div>
                </div>
                <button is="loader-button" type="button" class="button button--outline button--text button--full AddToCart" product_id="1254865235426">
                  <span class="loader-button__text">
                  Add <span class="dash">-</span> 
                  <span class="span_org_price hide_button">
                  <ins>$16</ins>
                  </span>
                  <span class="span_sub_price" product_id="1254865235426">
                  <del>$16</del>
                  <ins>$19.60</ins>
                  </span>
                  </span>
                  <span class="loader-button__loader" hidden="">
                    <div class="spinner">
                      <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                      </svg>
                    </div>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="seller-box">
            <div class="seller-box-inr">
              <div class="sell-box">
                <img src="https://cdn.shopify.com/s/files/1/0051/5892/8473/products/bw-cleanwoods-grey_300x.png?v=1658858735" alt="sell-img">
              </div>
              <div class="seller-box-bottom">
                <div class="box-title" product_id="1254865235427">
                  <h5>Body Wash</h5>
                </div>
                <div class="box-subtitle">
                  <h6>Original Citrus</h6>
                </div>
                <div class="review-two-col">
                  <div class="review-left">
                    <div class="rating__stars">
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="review-right">
                    <div class="review-title">
                      849 reviews
                    </div>
                  </div>
                </div>
                <button is="loader-button" type="button" class="button button--outline button--text button--full AddToCart" product_id="1254865235427">
                  <span class="loader-button__text">
                  Add <span class="dash">-</span> 
                  <span class="span_org_price hide_button">
                  <ins>$16</ins>
                  </span>
                  <span class="span_sub_price" product_id="1254865235427">
                  <del>$16</del>
                  <ins>$19.60</ins>
                  </span>
                  </span>
                  <span class="loader-button__loader" hidden="">
                    <div class="spinner">
                      <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                      </svg>
                    </div>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="seller-box">
            <div class="seller-box-inr">
              <div class="sell-box">
                <img src="https://cdn.shopify.com/s/files/1/0051/5892/8473/products/bw-cleanwoods-grey_300x.png?v=1658858735" alt="sell-img">
              </div>
              <div class="seller-box-bottom" product_id="1254865235428">
                <div class="box-title">
                  <h5>Body Wash</h5>
                </div>
                <div class="box-subtitle">
                  <h6>Original Citrus</h6>
                </div>
                <div class="review-two-col">
                  <div class="review-left">
                    <div class="rating__stars">
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="review-right">
                    <div class="review-title">
                      849 reviews
                    </div>
                  </div>
                </div>
                <button is="loader-button" type="button" class="button button--outline button--text button--full AddToCart" product_id="1254865235428">
                  <span class="loader-button__text">
                  Add <span class="dash">-</span> 
                  <span class="span_org_price hide_button">
                  <ins>$16</ins>
                  </span>
                  <span class="span_sub_price" product_id="1254865235428">
                  <del>$16</del>
                  <ins>$19.60</ins>
                  </span>
                  </span>
                  <span class="loader-button__loader" hidden="">
                    <div class="spinner">
                      <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                      </svg>
                    </div>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="seller-box">
            <div class="seller-box-inr">
              <div class="sell-box">
                <img src="https://cdn.shopify.com/s/files/1/0051/5892/8473/products/bw-cleanwoods-grey_300x.png?v=1658858735" alt="sell-img">
              </div>
              <div class="seller-box-bottom">
                <div class="box-title" product_id="1254865235429">
                  <h5>Body Wash</h5>
                </div>
                <div class="box-subtitle">
                  <h6>Original Citrus</h6>
                </div>
                <div class="review-two-col">
                  <div class="review-left">
                    <div class="rating__stars">
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="review-right">
                    <div class="review-title">
                      849 reviews
                    </div>
                  </div>
                </div>
                <button is="loader-button" type="button" class="button button--outline button--text button--full AddToCart" product_id="1254865235429">
                  <span class="loader-button__text">
                  Add <span class="dash">-</span> 
                  <span class="span_org_price hide_button">
                  <ins>$16</ins>
                  </span>
                  <span class="span_sub_price" product_id="1254865235429">
                  <del>$16</del>
                  <ins>$19.60</ins>
                  </span>
                  </span>
                  <span class="loader-button__loader" hidden="">
                    <div class="spinner">
                      <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                      </svg>
                    </div>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="seller-box">
            <div class="seller-box-inr">
              <div class="sell-box">
                <img src="https://cdn.shopify.com/s/files/1/0051/5892/8473/products/bw-cleanwoods-grey_300x.png?v=1658858735" alt="sell-img">
              </div>
              <div class="seller-box-bottom">
                <div class="box-title" product_id="12548652354210">
                  <h5>Body Wash</h5>
                </div>
                <div class="box-subtitle">
                  <h6>Original Citrus</h6>
                </div>
                <div class="review-two-col">
                  <div class="review-left">
                    <div class="rating__stars">
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="review-right">
                    <div class="review-title">
                      849 reviews
                    </div>
                  </div>
                </div>
                <button is="loader-button" type="button" class="button button--outline button--text button--full AddToCart" product_id="12548652354210">
                  <span class="loader-button__text">
                  Add <span class="dash">-</span> 
                  <span class="span_org_price hide_button">
                  <ins>$16</ins>
                  </span>
                  <span class="span_sub_price" product_id="12548652354210">
                  <del>$16</del>
                  <ins>$29.99</ins>
                  </span>
                  </span>
                  <span class="loader-button__loader" hidden="">
                    <div class="spinner">
                      <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                      </svg>
                    </div>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="seller-box">
            <div class="seller-box-inr">
              <div class="sell-box">
                <img src="https://cdn.shopify.com/s/files/1/0051/5892/8473/products/bw-cleanwoods-grey_300x.png?v=1658858735" alt="sell-img">
              </div>
              <div class="seller-box-bottom">
                <div class="box-title" product_id="12548652354211">
                  <h5>Body Wash</h5>
                </div>
                <div class="box-subtitle">
                  <h6>Original Citrus</h6>
                </div>
                <div class="review-two-col">
                  <div class="review-left">
                    <div class="rating__stars">
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="review-right">
                    <div class="review-title">
                      849 reviews
                    </div>
                  </div>
                </div>
                <button is="loader-button" type="button" class="button button--outline button--text button--full AddToCart" product_id="12548652354211">
                  <span class="loader-button__text">
                  Add <span class="dash">-</span> 
                  <span class="span_org_price hide_button">
                  <ins>$16</ins>
                  </span>
                  <span class="span_sub_price" product_id="12548652354211">
                  <del>$16</del>
                  <ins>$25.99</ins>
                  </span>
                  </span>
                  <span class="loader-button__loader" hidden="">
                    <div class="spinner">
                      <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                      </svg>
                    </div>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="seller-box">
            <div class="seller-box-inr">
              <div class="sell-box">
                <img src="https://cdn.shopify.com/s/files/1/0051/5892/8473/products/bw-cleanwoods-grey_300x.png?v=1658858735" alt="sell-img">
              </div>
              <div class="seller-box-bottom">
                <div class="box-title" product_id="12548652354212">
                  <h5>Body Wash</h5>
                </div>
                <div class="box-subtitle">
                  <h6>Original Citrus</h6>
                </div>
                <div class="review-two-col">
                  <div class="review-left">
                    <div class="rating__stars">
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                      <svg fill="none" focusable="false" width="14" height="14" class="icon icon--rating-star   rating__star rating__star--full" viewBox="0 0 14 13">
                        <path d="M7 0L8.6458 4.73475L13.6574 4.83688L9.66296 7.86525L11.1145 12.6631L7 9.8L2.8855 12.6631L4.33704 7.86525L0.342604 4.83688L5.3542 4.73475L7 0Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="review-right">
                    <div class="review-title">
                      849 reviews
                    </div>
                  </div>
                </div>
                <button is="loader-button" type="button" class="button button--outline button--text button--full AddToCart" product_id="12548652354212">
                  <span class="loader-button__text">
                  Add <span class="dash">-</span> 
                  <span class="span_org_price hide_button">
                  <ins>$16</ins>
                  </span>
                  <span class="span_sub_price" product_id="12548652354212">
                  <del>$16</del>
                  <ins>$25.99</ins>
                  </span>
                  </span>
                  <span class="loader-button__loader" hidden="">
                    <div class="spinner">
                      <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                      </svg>
                    </div>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!----------  end-section ------------>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>





<script>
  var products = [];

  $(document).on("click", ".AddToCart", function(){ 
    // Create Class Object
    Window.bundleProduct = new BundleProduct();
    // Call Class Add Funcation
    Window.bundleProduct.add($(this))
  });

  class BundleProduct {    
    add(_this){
      let product = {
        let product_id = _this.attr("product_id");
        let product_price = _this.find('.span_sub_price ins').text();
        let sellerBox = _this.closest('.seller-box');
        let title = sellerBox.find('.box-title h5').text();
        let img = sellerBox.find('.sell-box img').attr('src');
      }
      
      
      
    }
  }

  // const paymentForm  = new BundleProduct();

  $(document).ready(function(){
    //progress bar
    function setPercentage() {
      const percentage = $("#progress_bar_main").data("percentage");    
      const progressEl =  $(".progress");
      const percentageEl = $(".percentage");
      
      progressEl.css("width",percentage);
      percentageEl.css("left",percentage);
    }

    setPercentage();

    $('.seller-box-sec').slick({
      dots: false,
      infinite: false,
      speed: 300,
      slidesToShow: 5,
      slidesToScroll: 5,
      responsive: [
        {
            breakpoint: 1280,
            settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true,
            }
        },
        {
            breakpoint: 1080,
            settings: {
            slidesToShow: 2,
            slidesToScroll: 2
            }
        },
        {
            breakpoint: 767,
            settings: {
            slidesToShow: 1,
            slidesToScroll: 1
            }
        }
      ]
    });
  })

</script>
<style>
.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -25px;
    display: block !important;
    border:0px solid black;
}
.owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}

:root{
  
    --primary: #f6abab;
    --primary-dark :#dd7474;
    --white:#fff;
    --grid-column4:repeat(4, 1fr);
}


.crousel_next_button,
.crousel_prev_button {
	position: absolute;
	top: -60px;
	bottom: auto;
	left: 38px;
	opacity: 1;
	visibility: visible;
	width: 56px;
	height: 56px;
	transform: scale(1);
	background: #fff;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .15s ease-in-out,visibility .15s ease-in-out,transform .15s ease-in-out;
	z-index: 1;
  transform: scale(1);
}
.crousel_next_button{
  left:auto;
  right:38px;
}


.crousel_next_button:hover,
.crousel_prev_button:hover {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}


.seller-box #ProductSelect-option-1 {
  display: flex;
}
.seller-box .single-option-radio__label {
  display: flex;
  margin-bottom: 4px;
  cursor: pointer;
}
.seller-box .inline-list {
  list-style: none;
  margin-left: 0;
  margin-right: -8px;
  margin-bottom: -8px;
  border: 0;
  padding-top: 0;
  position: relative;
  margin: 0;
  padding: 0;
}
.seller-box .single-option-radio input {
  clip: rect(0,0,0,0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}
.seller-box input[type=checkbox], .seller-box input[type=radio] {
  margin: 0 10px 0 0;
  padding: 0;
  width: auto;
}
.seller-box input[type=radio] {
  cursor: pointer;
}
.seller-box .inline-list>* {
  display: inline-block;
  vertical-align: middle;
}
.seller-box input {
  border: 1px solid #e5e5e5;
  border-radius: 11px;
  padding: 16px 24px;
  font-size: 17px;
  line-height: 1.5;
  display: inline-block;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  color: #515151;
  max-width: 100%;
}
.seller-box .single-option-radio input[type=radio]:checked+label {
  background-color: #000 !important;
  border-color: #000 !important;
  color: #fff !important;
}
.seller-box .single-option-radio input[type=radio]:checked+label {
  background-color: #000 !important;
  border-color: #000 !important;
  color: #fff !important;
}
.seller-box .single-option-radio input[type=radio]:checked+label {
  background-color: #f29d9d;
  border-color: #f29d9d;
  color: #fff;
}
.seller-box .single-option-radio label {
  border: 1px solid #e5e5e5;
  border-radius: 11px;
  font-size: 17px;
  line-height: 1.5;
  display: inline-block;
  font-family: DIN Next,sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: initial;
  letter-spacing: .5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: normal;
  text-transform: uppercase;
  padding: 6px 10px;
  min-width: 39px;
  background: #fff;
}
.seller-box .inline-list>* {
  margin-right: 8px;
  margin-bottom: 8px;
}
.seller-box .variant-label-option-value {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}
.seller-box .single-option-radio__label:hover {
  opacity: .6;
}

/* progess bar */
.progress-container {
  box-shadow: 0 4px 5px rgb(0, 0, 0, 0.1)
}

.progress-container, .progress {
  background-color: #eee;
  border-radius: 5px;
  position: relative;
  height: 7px;
  width: 300px;
}

.progress {
  background-color: #6F39B0;
  width: 0;
  transition: width 0.4s linear;
}

.percentage {
  background-color: #6F39B0;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgb(0, 0, 0, 0.2);
  color: #fff;
  font-size: 12px;
  padding: 4px;
  position: absolute;
  top: 20px;
  left: 0;
  transform: translateX(-50%);
  width: 40px;
  text-align: center;
  transition: left 0.4s linear;
}

.percentage::after {
  background-color: #6F39B0;
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  height: 10px;
  width: 10px;
  z-index: -1;
}

</style>