<div class="passwordLessLogin">
    <div id="show_enter_otp_modal"></div>
    <div class="Polaris-Card">
        <div class="Polaris-Card__Header">
            <h2 class="Polaris-Heading" style="font-weight: 400;line-height: 2.4rem; margin: 0;font-size: 32px!important; line-hieght: 50px!important">Account Login</h2>
        </div>
        <div class="Polaris-Card__Section">
                <p>
                    <div>
                        <label for="email">Email</label>
                    <div>
                    <div>
                        <input type="email" class="email" id="email">
                    <div>
                </p>
                <p>
                    <input type="button" id="get_otp_button"  value="Get OTP" />
                </p>
                <div id="main_error_div"></div>
        </div>
    </div>
</div>

<script>
    $("#get_otp_button").on("click",function(){
        $.ajax({
            type: "post",
            data: `email=${$("#email").val()}`,
            url: "/a/chargezen_production/password_less_login/send_otp_passwordless_login"
        })
    })
</script>