<% variants = JSON.parse(curvo_choice.variants) rescue {} %>
<div class="rewards-timeline__interactive__accordion interactive__accordion interactive__accordion_no-border accordion time_line_for_<%= subscription_id %>">
    <div class="interactive__accordion__item accordion__item accordion__item_active">
      <div class="interactive__accordion__item__header-wrapper position-relative"> 
        <div class="d-inline-flex d-md-flex align-items-center">
          Your Bundle
        </div>
        
        <div class="rewards-timeline__rewards-unavailable">
        	The following are the products in this subscription
        </div>        
      </div>
      <span class="accordion__item__header__symbol">
        <i class="icon-chevron_bottom"></i>
      </span>
    </div>
    <div class="interactive__accordion__content accordion__content" data-height="230" style="height: 230px;">
        <div class="rewards-timeline">
        
            <div class="rewards-timeline__item  __unclaimable" data-product-title="Vitamin Container" data-product-handle="feel-vitamin-jar">
                <% variants.keys.each do |k| %>
                    <div class="rewards-timeline__period-text">
                        Month 1
                    </div>
                    <div class="rewards-timeline__marker rewards-timeline__marker_reward"></div>
                        lass="rewards-timeline__progress-line"></div>
                                
                        <div class="rewards-timeline__reward-wrapper">
                            
                            <img class="img" src="<%= variants[k]["image"] %>">
                            
                            <div class="rewards-timeline__reward-title">
                            
                                <%= variants[k]["product_title"] %>
                            
                            <br>
                            <span class="rewards-timeline__reward-title__status" style="color: #e17074;" data-claim-status="-1">
                                not ready
                            </span>
                            <span class="rewards-timeline__reward-title__status" style="color: #de8802;" data-claim-status="0">
                                ready
                            </span>
                            <span class="rewards-timeline__reward-title__status" style="color: #08c608;" data-claim-status="1">
                                claimed
                            </span>
                            </div>
                        </div>
                    </div>
                <% end %>        
            </div>
        </div>
    </div>
  </div>