.customize .Polaris-Card {
    box-shadow: none;
    border: 1px solid #e1e3e5;
}
.customize .Polaris-Label__Text {
    color: #000;
}
.customize .card-box {
    font-size: 1.2rem;
    color: #a2adb8;
}
.email-triggers .card-box .blue-title,
.customize .card-box .blue-title {
    background: #007eff;
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem;
    font-family: "Helvetica";
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    margin: -2rem -2rem 2rem;
}
.email-triggers .card-box .description {
    margin-bottom: 20px;
    color: #777;
}
.email-triggers .card-box .form-holder {
    width: 90%;
}
.email-triggers .card-box .form-holder > div {
    margin-bottom: 20px;
}
.customize .card-box .holder {
    margin-top: 2em;
}
.customize .card-box h3 {
    font-size: 1.5rem;
    font-family: "Helvetica";
    margin-bottom: 1.6rem;
    color: #000;
    font-weight: 500;
}
.customize .card-box .color-holder input[type="text"] {
    width: 30rem;
}
.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.email-triggers .cards-list {
    margin-top: 20px;
}
.email-triggers .cards-list .Polaris-Card {
    border: 1px solid #c4cdd5;
    box-shadow: none;
}
.email-triggers .cards-list .card-footer {
    border: none;
    padding-bottom: 5px;
}
.cards-list .Polaris-Card {
    width: 49%;
    margin: 0 !important;
}
.cards-list .Polaris-Card:nth-child(n+3) {
    margin: 1.5rem 0 0 !important;
}
.m-0 {
    margin: 0 !important;
}
.mt-2 {
    margin-top: 1rem;
}
.mt-3 {
    margin-top: 1.2rem;
}
.mt-4 {
    margin-top: 1.5rem;
}
.mb-2 {
    margin-bottom: 1rem;
}
.mb-3 {
    margin-bottom: 1.2rem;
}
.mb-4 {
    margin-bottom: 1.5rem;
}
.card-header {
    position: relative;
    margin-bottom: 1rem;
}
.card-header .button-holder {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}
.button-holder button {
    min-height: 2rem;
    padding: 0.2rem 1rem !important;
}
.button-holder div + button,
.button-holder button + button {
    margin-left: 0.7rem;
}
.button-holder button span {
    font-size: 1.2rem;
}
.card-header h2 {
    font-size: 1.6rem;
    font-family: "Helvetica";
    line-height: 1.4;
    font-weight: 700;
    color: #000;
    display: inline-block;
}
.card-header h2 small {
    font-weight: 400;
    font-size: 1.4rem;
    font-family: "Helvetica";
    position: relative;
}
#activated h2 small:after {
    content: "";
    position: absolute;
    right: -20px;
    top: 4px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #36b700;
    border: 3px solid #bae7a8;
}
#not-activated h2 small:after {
    content: "";
    position: absolute;
    right: -20px;
    top: 4px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #f3bb01;
    border: 3px solid #fae59c;
}
.card-body {    
    padding: 1rem 0;
    font-size: 1.2rem;
    font-family: "Helvetica";
    min-height: 7rem;
}
.email-triggers .cards-list .card-body {
    height: 100px;
    color: #888;
}
.email-triggers .cards-list .card-body p strong {
    color: #000;
}
.other-list .card-body {
    min-height: 4rem;
}
.card-footer {
    border-top: 1px solid #dfe4e8;
    margin: 0 0 -1rem;
    padding: 1rem 0 0;
}
#warning-outline {
    border-color: #fae59c;
    color: #f4c329;
}
#danger-outline {
    border-color: #ff8888;
    color: #ff1a1d;
}
#success-outline {
    border-color: #bbe7a9;
    color: #4fc026;
}
.preview-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.prepare-to-launch {
    background: #fff;
    padding: 2rem 4rem 8rem;
    overflow: hidden;
}
.prepare-to-launch .top-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}
.prepare-to-launch .top-title h3 {
    color: #ff0100;
    font-size: 2.8rem;
    font-family: "Helvetica";
    font-weight: bold;
    margin-left: 20px;
}
.prepare-to-launch .top-title .ico {
    width: 60px;
    height: 60px;
}
.prepare-to-launch .top-title .ico img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prepare-to-launch .cta {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 7rem;
}
.prepare-to-launch .cta:after {
    content: "";
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 100%;
    background: #007eff;
    top: -43px;
    right: -190px;
}
.prepare-to-launch .cta .left-section,
.prepare-to-launch .cta .right-section {
    width: 50%;    
    font-size: 1.8rem;
    line-height: 1.4;
    color: #657582;
}
.prepare-to-launch .cta .left-section h3 {
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: bold;
    font-family: "Helvetica";
    margin-bottom: 1.5rem;
    color: #000;
}
.prepare-to-launch .cta .image-holder {
    width: 85%;
    height: auto;
    z-index: 2;
    position: relative;
    margin: auto;
}
.prepare-to-launch .cta .image-holder img {
    width: 100%;
    height: auto;
}
.prepare-to-launch h4,
.how-it-works h4,
.more-points h4 {
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: bold;
    font-family: "Helvetica";
    margin-bottom: 2rem;
    color: #000;
    text-align: center;
}
.more-points {
    background: #fff;
    padding: 6rem 4rem;
    margin-top: -2rem;
}
.rewards-list,
.how-it-works .box-holder,
.more-points .box-holder {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}
.how-it-works .box-holder .box {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.4;
    margin: 2rem 2.5rem;
}
.more-points .box-holder .box {
    text-align: center;
    border: 1px solid #e8e8e8;
    flex: 1 1;
    margin: 0 15px;
    border-radius: 6px;
    box-shadow: 0 2px 5px #ddd;
    padding: 25px;
    font-size: 1.4rem;
    color: #000;
}
.reward-list {
    text-align: center;
    border: 1px solid #e8e8e8;
    flex: 1;
    margin: 0 15px;
    border-radius: 6px;
    box-shadow: 0 2px 5px #ddd;
    padding: 25px;
    font-size: 1.4rem;
    color: #000;
}
.reward-list .text-muted {
    color: #6e7d8a;
    margin-bottom: 5px;
}
.how-it-works .ico,
.reward-list .ico,
.more-points .ico {
    width: 70px;
    height: 70px;
    margin: 0 auto 15px;
}
.how-it-works .ico img,
.reward-list .ico img,
.more-points .ico img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.more-points h5 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 5px;
}
.reward-list h5 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
}
.how-it-works {
    background: #ecf2f8;
    padding: 6rem 4rem;
    margin-top: -2rem;
}
.campaign-search {
    padding: 5px 0 10px;
}
.campaign-search input {
    width: 30rem;
}
/* The switch - the box around the slider */
.switch-status {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 0;
  }
  
  /* Hide default HTML checkbox */
  .switch-status input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider-status {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E4E5E7;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider-status:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: #6D7175;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider-status {
    background-color: #007eff;
  }
  
  input:focus + .slider-status {
    box-shadow: 0 0 1px #007eff;
  }
  
  input:checked + .slider-status:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-color: #fff;
  }
  .filters .Polaris-Collapsible {
    opacity: 1;
  }

  .filters button .Polaris-Stack__Item {
    margin: 0;
  }
  .filters button .Polaris-Icon {
      color: #000;
  }
  .filters button .Polaris-Button__Content {
      line-height: 1.4;
  }
  .filters button .Polaris-Button__Text {
      text-decoration: none !important;
  }
  .filters .filter-list + .filter-list {
      margin-top: 10px;
  }
  .filters .filter-list .Polaris-TextContainer {
      font-size: 14px;
  }
  .filters .filter-list .Polaris-Select {
      width: 15rem;
  }
  .filters .filter-list .Polaris-TextField {
      width: 6rem;
  }
  .filters .filter-list .Polaris-TextField input {
      text-align: center;
  }
  .filters .filter-list button {
    width: 12rem;
    margin-top: 10px;
  }
  .loyalty-performance {
      margin-top: 30px;
  }
  .loyalty-performance .cards-list .Polaris-Card {
      width: 23.5%;
      margin: 0 !important;
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
  }
  .loyalty-performance .cards-list .Polaris-Card:nth-child(n+5) {
    margin-top: 15px !important;
  }
  .loyalty-performance h3 {
    font-size: 2.1rem;
    font-weight: normal;
    margin: 20px 0 15px;
  }
  .loyalty-performance .Polaris-TextContainer {
    color: #4D506A;
    font-size: 1.4rem;
  }
  .loyalty-performance .Polaris-TextContainer strong{
    color: #212B36;
    font-size: 2.2rem;
    margin-top: 10px;
    display: block;
    font-weight: 800;
  }
  .bottom-section-customer {
      margin-top: 20px;
  }
  .bottom-section-customer .cards-list .Polaris-Card {
    width: 48%;
  }
  .total-rev-chart {
    background: #fff;
    padding: 30px 0;
    margin-top: 30px;
    box-shadow: 0px 16px 24px rgb(0 0 0 / 6%), 0px 2px 6px rgb(0 0 0 / 4%), 0px 0px 1px rgb(0 0 0 / 4%);
    border-radius: 6px;
  }
  .Polaris-Modal-Dialog__Modal .Polaris-Modal__Body {
    overflow: auto;
  }
  .Polaris-Modal-Dialog__Container .Polaris-Modal-Section {
    padding: 10px 3rem;
  }
  .input-group {
    position: relative;
  }
  .input-group .icon-before,
  .input-group .icon-after {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #C4CDD5;
    z-index: 999;
    height: 35px;
    padding: 6px 15px;
    text-align: center;
    border-radius: 4px 0 0 4px;
  }
  .input-group .icon-after {
    right: 0;
    left: auto;
    border-radius: 0 4px 4px 0;
  }
  .with-helper-text > div {
    display: flex;
    flex-direction: column;
  }
  .with-helper-text .Polaris-Labelled__LabelWrapper {
    margin: 0;
  }
  .with-helper-text .Polaris-Connected,
  .with-helper-text .Polaris-Select {
    order: 3;
  }
  .with-helper-text .Polaris-Labelled__HelpText {
    order: 2;
    font-size: 1.2rem;
    margin: 0 0 0.5rem;
  }
  .top-section {
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 2rem;
  }
  .top-section img {
    margin-bottom: 2rem;
  }
  .top-section p {
    text-align: left;
  }
  .with-premium-label-tag .Polaris-Label__Text {
    position: relative;
  }
  .with-premium-label-tag .Polaris-Label__Text:after {
    content: "Premium";
    position: absolute;
    left: 105%;
    right: auto;
    top: 1px;
    background: #007eff;
    padding: 3px 10px 4px;
    white-space: nowrap;
    color: #fff;
    font-size: 1rem;
    line-height: 1;
    border-radius: 4px;
    text-transform: uppercase;
  }
  