<div class="Polaris-Card">
    <div class="Polaris-Card__Header">
        <div class="sub_header">
            <div class="svg_sub_heade">
                <svg class="gUZ B9u U9O kVc" height="14" width="14" viewBox="0 0 24 24" aria-label="Security" role="img">
                    <path d="M8 10V7c0-2.206 1.794-4 4-4s4 1.794 4 4v3H8zm11 .017V7c0-3.86-3.141-7-7-7S5 3.14 5 7v3.017a8.698 8.698 0 0 0-1.75 5.233 8.75 8.75 0 1 0 17.5 0A8.698 8.698 0 0 0 19 10.017z">
                    </path>
                </svg>
            </div>
            <div class="sub_header_title">
                Chargezen Secured
            </div>
        </div>
        <div class="main_heading">
            <h2 class="Polaris-Heading" style="font-weight: 400;line-height: 2.4rem; margin: 0;font-size: 32px!important; line-hieght: 50px!important">Login with OTP</h2>
        </div>
    </div>
    <div class="Polaris-Card__Section">
            <div class="card_body">
                <div class="label_div">
                    <label for="email">OTP</label>
                </div>
                <div class="input">
                    <input type="number" class="otp" id="otp_field" placeholder="Enter OTP">
                </div>
                <input type="button" id="submit_otp"  value="Login (check email or phone)" />
            </div>
            <div id="error_message"></div>
    </div>
</div>



<script>
    $("#submit_otp").on("click",function(){
        $.ajax({
            type: "post",
            data: `email=<%= params[:email] %>&otp=${$("#otp_field").val()}`,
            url: "/a/chargezen_production/password_less_login/auth_with_otp",
            success: function(response){
                console.log(response?.error)
                if(response?.error){
                    $("#error_message").html(response?.error)
                }
            }
        })
    })
</script>