$(".edit_preorder_meals").html("<label for='meals_options'>Meals</label><select class='weekly_meals_select' id='meals_options' multiple='multiple'><% @products&.each do |product| %><option value='<%= product[:product_id] %>'><%= product[:title]%></option><% end %></select>");

$('option').mousedown(function(e) {  

    e.preventDefault();
    var originalScrollTop = $(this).parent().scrollTop();
    console.log(originalScrollTop);
    $(this).prop('selected', $(this).prop('selected') ? false : true);
    
    $(this).prop('selected') ? $(this).addClass("option_active") : $(this).removeClass("option_active")
    
    var self = this;
    $(this).parent().focus();
    setTimeout(function() {
        $(self).parent().scrollTop(originalScrollTop);
    }, 0);
    
    return false;
});

currentMeal = (<%= @pre_order_products %>)

$(".weekly_meals_select").val(currentMeal);