$primary: #007EFF;

// DELIVERY DELAY MODAL

.delivery-delay-modal {
  min-height: 500px;
  .header {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 20px;

    div {
      outline: 0 none;
      > h2 {
        font-size: 22px;
        font-weight: bold;
        margin-left: 40px;
      }
      > svg {
        cursor: pointer;
      }
    }
  }
  div.append-dp {
    display: none;

    .btn-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;

      > button {
        width: 144px;
        height: 40px;
        border: none;
        border-radius: 30px;
        margin-bottom: 10px;
        background: $primary;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
        outline: 0 none;

        &.back-dp {
          background: #fff;
          color: #000;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid #000;
          margin-right: 20px;
          > span:nth-child(1) {
            margin-right: 10px;
          }
        }
      }
    }
  }

  input.datepicker-delay {
    display: none;
  }

  form > .btn-wrapper {
    display: flex;
    justify-content: center;

    > button {
      width: 206px;
      height: 60px;
      border: none;
      border-radius: 30px;
      margin-bottom: 10px;
      background: $primary;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
      outline: 0 none;

      &.open-dp {
        margin-top: 40px;
        background: #fff;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #000;
        > span:nth-child(1) {
          margin-right: 10px;
        }
      }
    }
  }
}

// EDIT SUBSCRIPTION MODAL

.edit-subscription-modal {
  .header {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    div {
      outline: 0 none;
      > h2 {
        font-size: 22px;
        font-weight: bold;
        margin-left: 40px;
      }
      > svg {
        cursor: pointer;
      }
    }
  }
  .subscription-details {
    padding: 0px 35px;
    .img {
      width: 200px;
      height: 100px;
      margin: 30px auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .title {
      padding-bottom: 20px;
      border-bottom: 1px solid #ddd;
      h2 {
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 16px;
        font-weight: 900;
        color: #4D506A;
      }
    }
    .delivery-charge {
      padding: 20px 0px;
      border-bottom: 1px solid #ddd;

      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:nth-child(1) {
          margin-bottom: 16px;
        }

        h3 {
          color: #C4C4C4;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
        }
        h4 {
          color: #000;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
    .btn-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 20px;

      > button {
        width: 100%;
        height: 40px;
        border: 1px solid #ddd;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 10px;
        background: transparent;
        cursor: pointer;
        outline: 0 none;

        &.light {
          color: #ddd;
        }
      }
    }
  }
}

// SWAP SUBSCRIPTION MODAL

.swap-subscription-modal, .upgrade-subscription-modal {
  .header {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    div {
      outline: 0 none;
      > h2 {
        font-size: 22px;
        font-weight: bold;
        margin-left: 40px;

        > span.blue {
          color: $primary;
        }
      }
      > svg {
        cursor: pointer;
      }
    }
  }
  .swap-grid  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 30px;

    > .item {
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
      border-radius: 5px;
      padding: 25px 40px;

      .img {
        width: 100%;
        height: 115px;
        margin-bottom: 25px;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .title {
        > h2 {
          font-size: 18px;
          line-height: 24px;
          font-weight: bold;
          text-align: center;
          margin-bottom: 15px;
        }
        > p {
          font-size: 14px;
          text-align: center;
          color: #ACB5BD;
        }
      }
      .variants-wrapper {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        > label {
          margin: 5px 0;
        }
      }
      .btn-wrapper {
        margin-top: 10px;
        > button {
          width: 100%;
          height: 40px;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          color: #fff;
          background: $primary;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          outline: 0 none;
          transition: 0.3s all ease-in-out;

          &:hover {
            background: #43a1ff;
          }
        }
      }
    }
  }
}

// SWAP SUBSCRIPTION MODAL

.cancel-subscription-modal {
  .header {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 33px;

    div {
      outline: 0 none;
      > h2 {
        font-size: 22px;
        font-weight: bold;

        > span.blue {
          color: $primary;
        }
      }
      > svg {
        cursor: pointer;
      }
    }
  }
  .warning {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 0px;
    border-bottom: 1px solid #ddd;

    > h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 25px;
      color: #212B36;
    }
    > h3 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 25px;
      color: #212B36;
    }
    > p {
      font-size: 18px;
      font-weight: bold;
      color: #8B8A8A;
    }
  }
  .btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    button {
      width: 228px;
      height: 40px;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
      outline: 0 none;

      &.btn-cancel {
        border: 1px solid #C6C7C8;
        background: #fff;
        margin-right: 20px;
        font-weight: 600px;
      }
      &.btn-keep {
        background: $primary;
        color: #fff;
        border: none;
        font-weight: 800;
      }
    }
  }
}

.content-wrapper {
  width: 100%;
  padding-left: 30px;
  box-sizing: border-box;
  overflow: hidden;
}

// TOP NAV
nav.top-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 150px;
  background: $primary;

  @media (max-width: 900px) {
    flex-direction: column;
    padding: 25px 0;
  }

  > .nav-brand {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
    @media (max-width: 900px) {
      margin-bottom: 25px;
    }
  }

  > .nav-menu {
    @media (max-width: 900px) {
      margin-bottom: 10px;
    }
    ul.items {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;

      li.item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
        > a {
          color: #fff;
          text-decoration: none;
          font-size: 2rem;
          display: block;
          padding: 0px 10px;

          @media (max-width: 1100px) {
            font-size: 1.5rem;
          }
          @media (max-width: 900px) {
            padding: 0;
          }
        }
      }
    }
  }
}

// INFO BANNER

.info-banner {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }

  .details {
    @media (max-width: 768px) {
      padding: 10px 0;
    }
    > .profile{
      display: flex;
      align-items: center;
      .initials {
        width: 70px;
        height: 70px;
        background: #A3CCFF;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 30px;

        @media (max-width: 1100px) {
          width: 50px;
          height: 50px;
          font-size: 18px;
          margin-right: 10px;
        }
      }
      .full-name {
        font-size: 24px;
        color: #000;
        text-transform: capitalize;
        font-weight: bold;

        @media (max-width: 1100px) {
          font-size: 20px;
        }
      }
    }
    > .contact {
      p:nth-child(1) {
        font-size: 20px;

        @media (max-width: 1100px) {
          font-size: 16px;
        }
      }
      p:nth-child(2) {
        font-size: 16px;
        margin-top: 10px;
        color: #4D506A;

        @media (max-width: 1100px) {
          font-size: 14px;
        }
      }
    }
    > .btn-discount {
      padding: 20px 25px;
      display: block;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      border-radius: 31px;
      background: $primary;
      text-decoration: none;

      @media (max-width: 1100px) {
        padding: 10px 15px;
        font-size: 16px;
      }
    }
  }
}

// DISPLAY TEXT

.display-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > p {
    font-size: 18px;
    color: #212B36;
    font-weight: bold;

    > span.active {
      color: $primary;
    }

    > span.canceled {
      color: red;
    }
  }

  > a {
    font-size: 18px;
    color: #212B36;
    font-weight: bold;
    border-bottom: 2px solid $primary;
    text-decoration: none;
    display: block;
    padding: 7px 0px;
  }

}

// NOTIFICATION BANNER

div.notification-banner {
  width: 100%;
  background: #DDEFFF;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

// SUBSCRIPTION CONTRACT

.subscription-contract-products {
  background: #fff;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  padding: 35px;
  margin: 30px 0;
  > .grid {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    column-gap: 50px;

    &:not(:nth-child(1)) {
      margin-top: 30px;
    }
    // border-bottom: 1px solid #ececec;

    > .grid-item {
      > .img {
        width: 150px;
        height: 150px;
        margin-bottom: 30px;
        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      > h4 {
        font-size: 14px;
        color: #96A2AF;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: right;
      }
      > p.text{
        font-size: 18px;
        color: #212B36;
        margin-bottom: 15px;
        font-weight: bold;
        &.right {
          text-align: right;
        }
      }
      button.white-btn {
        border: 0.5px solid #C4CDD5;
        box-sizing: border-box;
        border-radius: 5px;
        background: #fff;
        font-size: 14px;
        width: 177px;
        height: 37px;
        margin-bottom: 15px;
        cursor: pointer;
      }
      button.text-btn {
        color: #4D506A;
        font-size: 14px;
        font-weight: 600;
        width: 177px;
        height: 37px;
        margin-bottom: 15px;
        background: #fff;
        border: none;
        cursor: pointer;
      }
    }
  }
  > .quantity-wrapper {
    padding: 10px 0px;
    border-bottom: 1px solid #C4CDD5;
    > form {
      > .quantity-field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;
        div {
          display: flex;
          align-items: center;
          > span.label {
            font-size: 16px;
            font-weight: 900;
            margin-right: 10px;
          }
          > .btn-wrapper {
            display: inline-flex;
            > button {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: #fff;
              border: 1px solid #b7b7b7;
              outline: 0 none;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0;
              &:active {
                border-color: #007EFF;
              }
            }
            > input {
              border: none;
              -moz-appearance: textfield;
              outline: 0 none;
              width: 30px;
              text-align: center;

              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }
          }
          > .update-quantity  {
            margin-left: 30px;
            display: none;
            &.active {
              display: inline;
            }
            > button[type="submit"] {
              border-radius: 12px;
              border: none;
              color: #fff;
              background: $primary;
              font-size: 14px;
              font-weight: bold;
              padding: 7px;
              transition: 0.3s all ease-in-out;
              cursor: pointer;

              &:hover {
                background: #5badff;
              }
            }
          }

          > .chevron {
            cursor: pointer;
            transition: 0.3s all ease-in-out;

            &.active {
              transform: rotate(-180deg);
            }
          }
        }
      }
    }
  }
  > .slide-down  {
    padding: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #C4CDD5;
    margin-bottom: 50px;
    display: none;
    > .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      > p {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;

        &:nth-child(1) {
          color: #C4C4C4;
        }
      }
    }
  }
  > .delivery-address {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    >div {
      > p{
        font-size: 16px;
        font-weight: bold;
        color: #4D506A;
      }
      > h3 {
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
      }
      > button.edit-address {
        border: 0.5px solid #C4CDD5;
        border-radius: 5px;
        background: #fff;
        font-size: 14px;
        width: 150px;
        height: 37px;
        cursor: pointer;
      }
    }
  }
}

// MODAL ADDRESS FORM

.modal-fields-wrapper  {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px 39px;

  > .group {
    > p {
      font-size: 14px;
      font-weight: bold;
      color: #96A2AF;
      text-transform: uppercase;
    }
    input, select {
      width: 100%;
      border-radius: 5px;
      border: 1px solid #C4CDD5;
      background: #fff;
      height: 40px;
      margin-top: 15px;
    }
  }
}

// CAROUSAL

.preview-container {

  > h2.offerTitle {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 25px;
    margin-top: 30px;
  }

  .slider-preview {
    box-shadow:
                0px 16px 24px rgba(0, 0, 0, 0.06),
                0px 2px 6px rgba(0, 0, 0, 0.04),
                0px 0px 1px rgba(0, 0, 0, 0.04);
    background: #fff;
    border-radius: 5px;
    padding: 30px;
  }

  .preview-item {
    position: relative;
    outline: 0 none;
    background: #fff;
    padding-bottom: 20px;
    border-radius: 5px;
    > .img {
      width: 100%;
      max-width: 170px;
      height: 210px;
      border-radius: 5px;
      margin: 0 auto;
      position: relative;
      > .cancel {
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04);
      }
      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    > p {
      margin: 20px 0;
      font-size: 16px;
      font-weight: 900;
      text-align: center;
    }

    .spinner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      justify-content: center;
      align-items: center;
      background: #ffffff45;

      .loader {
        border: 6px solid #f3f3f3;
        border-radius: 50%;
        border-top: 6px solid #000000;
        width: 60px;
        height: 60px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 1s linear infinite;

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
      }
    }

    .variants-wrapper {
      display: none;
      margin-bottom: 10px;

      > label {
        display: block;
        padding-left: 20px;
        margin-bottom: 10px;
      }
    }
    .btn-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      > button {
        background: #007EFF;
        border-radius: 20px;
        padding: 10px 15px;
        color: #fff;
        border: none;
        outline: 0 none;
        cursor: pointer;
      }
    }

  }
}

.carousal-container {
  width: 100%;
}
.product-card{
  width: 40%;
}
.hide{
  display: none;
}

@font-face {
  font-family: 'AvenirLTStd';
  font-style: normal;
  font-weight: normal;
  src: asset-url('AvenirLTProBook.woff') format('woff');
}

@font-face {
  font-family: 'AvenirLTStdBold';
  font-style: normal;
  font-weight: normal;
  src: asset-url('AvenirLTProHeavy.woff') format('woff');
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: #2980c1;
}

/* custom polaris css */
body.chargezen-proxy {
  padding: 0 0 30px 0;

  overflow: auto;
  background: none;
  // font-family: 'AvenirLTStd';
  background: #E5E5E5;

  .Polaris-Button__Yes {
    background: #00A023;
    color: white;
  }

  .Polaris-Button__No {
    background: #FF0000;
    color: white;
  }

  .Polaris-Navigation__Icon img {
    filter: none;
  }

  .Polaris-Page {
    margin: 0;
    padding: 0 !important;
    max-width: none;
    background: #E5E5E5;
  }

  .Polaris-Page__Content {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 55px;

    .Polaris-Page-Header {
      padding-top: 0;
    }

    main span.Polaris-Icon {
      margin-right: 20px;
    }
  }

  .mr-10 {
    margin-right: 10px;
  }

  .Polaris-Modal {
    display: none;

    &.shown {
      display: flex;
    }


    .Polaris-FormLayout__Item--firstOne {
      margin-left: 0;
    }
  }
  .Polaris-Frame__Main{
    padding-left: 30px;
    padding-right: 30px;
  }
  .avatar{
    width: 160px;
    height: 180px;
  }
  .datepicker{
    z-index: 999;
  }
  .Polaris-Frame, .Polaris-Navigation, .Polaris-Banner--withinContentContainer{
    background-color: transparent;
  }

  ul.Polaris-Tabs {
    background: #007EFF;
    justify-content: center;

    a.Polaris-Tabs__Tab {
      padding: 0 50px;
    }

    a {
      color: white;
      // font-family: Avenir LT Std;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
    }

    .Polaris-Tabs__Tab.Polaris-Tabs__Tab--selected .Polaris-Tabs__Title {
      border-bottom: 2px solid white;
    }

    .Polaris-Tabs__Title {
      padding: 1.6rem 0 1rem 0;
      margin-bottom: 8px;
    }

    .Polaris-Tabs__Tab.Polaris-Tabs__Tab:hover .Polaris-Tabs__Title {
      font-weight: normal;
      color: white;
      border-bottom: 2px solid white
    }
  }

  .Polaris-Navigation {
    background: transparent;
    // font-family: 'AvenirLTStdBold';

    .Polaris-Navigation__Item--selected {
      font-weight: 600;
      color: #007EFF;
      background-color: #D4E7FE;
      position: relative;
    }

    a.Polaris-Navigation__Item:hover {
      background-color: #D4E7FE;
    }

    li.Polaris-Navigation__ListItem {
      padding: 0 0 10px 0;
    }

    .Polaris-Navigation__Text {
      font-size: 14px;
    }

    .Polaris-Navigation__Section {
      padding: 0 0 1.6rem 0;
    }
  }

  h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    // font-family: 'AvenirLTStdBold';
  }

  span.Polaris-Icon.order-icon {
    margin-left: 3px;
  }

  .Polaris-Card {
    border-radius: 20px;
    padding: 20px;
  }

  .Polaris-Button--primary {
    background: #007EFF;
    border-color: #007EFF;
    box-shadow: inset 0 1px 0 0 #007EFF, 0 1px 0 0 rgba(22, 29, 37, 0.05), 0 0 0 0 transparent;
    color: white;
    border-radius: 5px;

    &:hover {
      background: #3e85ce;
      border-color: #3e85ce;
      box-shadow: inset 0 1px 0 0 #3e85ce, 0 1px 0 0 rgba(22, 29, 37, 0.05), 0 0 0 0 transparent;
    }
  }

  .refer-tag {
    padding-top: 40%;

    & > img {
      padding-left: 36px;
    }

    button.Polaris-Button {
      border-radius: 10px;
      text-transform: none;

      .Polaris-Navigation__Text {
        font-size: 11.5px;
      }
    }
  }

  .mt-30 {
    margin-top: 30px;
  }

  .Polaris-Tabs__Tab:focus {
    box-shadow: none !important;
  }

  .payment-methods {
    .Polaris-Card {
      padding: 20px 0;
      text-align: center;
      border: 3px solid #007EFF;
    }

    .check-icon {
      position: absolute;
      margin-right: -1px;
      display: inline-block;
      left: 0px;
      margin-top: -35px;
      margin-left: 161px;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  main {
    h2, h3 {
      font-size: 18px;
      // font-family: 'AvenirLTStdBold';
    }

    h3 {
      font-size: 16px;
    }

    .Polaris-Layout__AnnotationDescription {
      padding: 10px 0 0px 0;
    }

    .Polaris-Card.active {
      background: #007EFF;
      color: white;
      padding: 20px 10px;

      .round-icon {
        position: absolute;
        top: 0;
      }

      .Polaris-Banner__ContentWrapper {
        margin-left: 20px;
      }
    }

    .round-icon {
      background: white;
      border-radius: 50px;
      height: 40px;
      width: 40px;
      text-align: center;
      padding: 9px;
      margin-top: -1px;
    }

    .Polaris-MediaCard {
      .Polaris-MediaCard__MediaContainer:not(.Polaris-MediaCard--portrait) {
        flex-basis: 15%;

        img {
          height: 100%;
          width: 100%
        }
      }

      .Polaris-Card__Section {
        padding: 10px 20px;
      }

      .Polaris-MediaCard__InfoContainer:not(.Polaris-MediaCard--portrait) {
        flex-basis: 85%;
      }

      margin-bottom: 10px;
      padding-bottom: 10px;
      &:not(:last-child){
        border-bottom: 1px solid #ddd;
      }
    }

    .Polaris-Stack {
      margin-bottom: 10px;
    }

    .active-heading-card {
      padding: 0;

      .Polaris-Banner__Heading.active {
        background: #007EFF;
        color: white;
        padding: 15px 22px;
        border-radius: 20px 20px 0 0;

        .Polaris-Heading {
          font-size: 16px;
        }
      }

      .Polaris-Banner__Content {
        padding: 20px;
      }

      .Polaris-Banner--withinContentContainer {
        padding: 0;
      }
    }

    .pull-right {
      float: right;
    }

    .clearfix {
      clear: both;
    }
  }
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease;
  }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0;
  }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d;
  }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3);
    }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

.add_weekly_box {
  display: none !important;
}



// Date Picker Styles
.dp-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
}

.dp {
  position: relative;
  border: 1px solid #DDD;
  background: #FFF;
  line-height: 1.4;
  border-radius: 4px;
  max-height: 400px;
  z-index: 1000;
  overflow: auto !important; /* HACK for Chrome on Android */
}

.dp-cal {
  min-height: 300px;
}

.dp-below {
  position: absolute;
  font-size: 0.8em;
  width: 400px;
  max-width: 100vw;
}

.dp-modal .dp {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  width: calc(100% - 4em);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5em rgba(0, 0, 0, 0.45);
  animation: slide-up 0.3s forwards;
}

.dp-months {
  padding: 1em;
}

.dp-cal-month,
.dp-cal-year,
.dp-day,
.dp-month,
.dp-year {
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  position: relative;
  color: #3B404D;
}

.dp-cal-header {
  position: relative;
  text-align: center;
  margin-bottom: 0.5em;
}

.dp-next,
.dp-prev {
  position: absolute;
  width: 30px;
  height: 30px;
  overflow: hidden;
  top: 1em;
  color: #777;
  transition: color 0.2s;
}

.dp-next:focus,
.dp-prev:focus,
.dp-next:hover,
.dp-prev:hover {
  outline: none;
  color: inherit;
}

.dp-prev {
  left: 1.4em;
}

.dp-next {
  right: 1.4em;
}

.dp-prev:before,
.dp-next:before {
  content: '';
  border: 2px solid;
  width: 10px;
  height: 10px;
  display: inline-block;
  transform: rotate(-45deg);
  transition: border-color 0.2s;
  margin: 0.5em 0 4em;
}

.dp-prev:before {
  border-right: 0;
  border-bottom: 0;
}

.dp-next:before {
  border-left: 0;
  border-top: 0;
}

.dp-cal-month,
.dp-cal-year {
  display: inline-block;
  font-size: 1.4em;
  padding: 0.75em 0.25em 0.5em;
  outline: none;
}

.dp-cal-footer {
  text-align: center;
}

.dp-day-today:after {
  content: '';
  height: 0;
  width: 0;
  border: 7px solid #227BD7;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.dp-close,
.dp-clear,
.dp-today {
  box-sizing: border-box;
  display: inline-block;
  width: 33%;
  padding: 0.5em;
  text-decoration: none;
  color: inherit;
}

.dp-close:hover,
.dp-close:focus,
.dp-clear:hover,
.dp-clear:focus,
.dp-today:hover,
.dp-today:focus,
.dp-cal-month:focus,
.dp-cal-month:hover,
.dp-cal-year:hover,
.dp-cal-year:focus {
  background: #75BCFC;
  color: white;
}

.dp-col-header,
.dp-day {
  width: 14.28571429%;
  display: inline-block;
  padding: 0.5em;
  text-align: center;
}

.dp-col-header {
  color: #AAA;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8em;
  padding: 0.5em 0;
}

.dp-month {
  width: 33%;
  display: inline-block;
  padding: 0.5em;
}

.dp-year {
  display: block;
  padding: 0.5em 4em;
}

.dp-edge-day {
  color: #AAA;
}

.dp-day:hover,
.dp-month:hover,
.dp-year:hover,
.dp-current:focus,
.dp-current,
.dp-day:focus,
.dp-month:focus,
.dp-year:focus {
  outline: none;
  background: #75BCFC;
  color: white;
}

.dp-selected:hover,
.dp-selected:focus,
.dp-selected {
  background: #3B99FC;
  color: #FFF;
}

.dp-day-disabled:focus,
.dp-day-disabled:hover,
.dp-day-disabled {
  background: transparent;
  color: #DDD;
}

.dp-focuser {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
}

/* Responsive overrides */
@media (max-width: 480px), (max-height: 480px) {
  .dp-modal .dp {
    font-size: 0.9em;
    width: auto;
    top: 25%;
    left: 50%;
    width: 100%;
    border-radius: 0.25em;
    overflow: hidden;
    box-shadow: 0 0 5em rgba(0, 0, 0, 0.45);
    transform: translate(-50%, 0);
    transition: transform 0.5s;
  }

  .dp-day-of-week,
  .dp-day {
    padding: 0.5em;
  }
}

@keyframes slide-up {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
