Polaris-Page {
  max-width: 100% !important;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #19327D;
}

h1,
.h1 {
  font-size: 42px;
  line-height: 1.05;
}

h2,
.h2 {
  font-size: 26px;
  line-height: 1.4;
}

h3,
.h3 {
  font-size: 24px;
  line-height: 1.4;
}

h4,
.h4 {
  font-size: 20px;
  line-height: 1.2;
}

h5,
.h5,
body .font20 {
  font-size: 18px;
  line-height: 1.1;
}

h6,
.h6,
body .font18 {
  font-size: 16px;
  line-height: 1.1;
}


img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: middle;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #19327D;
}

.wrapper {
  width: 100%;
  float: none !important;
  display: block;
  margin: 0 auto !important;
  max-width: 1550px;
  padding-left: 15px;
  padding-right: 15px;
}

/*---------------  banner section ------------ */

.build-section {
  padding: 80px 0;
  text-align: center;
}

.build-section h3.heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
}

.build-section span.bundle-desc-s {
  font-size: 18px;
  line-height: 1.72;
}

.build-section .content-box-s {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.build-section h3.heading-s {
  font-size: 18px;
  line-height: 1.05;
  font-weight: 700;
  text-transform: uppercase;
}

.build-section .btn-s {
  padding: 0 10px;
}

.build-section .switch-button-s {
  position: relative;
  display: inline-block;
  width: 98px;
  height: 48px;
}

.build-section .switch-button-s input {
  opacity: 0;
  width: 0;
  height: 0;
}

.build-section .slider.round {
  border-radius: 34px;
}

.build-section .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d9d9d9;
  -webkit-transition: .4s;
  transition: .4s;
}

.build-section label.switch-button-s {
  position: relative;
}

.build-section .slider:before {
  position: absolute;
  content: "";
  height: 39px;
  width: 39px;
  left: 6px;
  bottom: 4px;
  background-color: #19327d;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.build-section .bundle-sub {
  padding-top: 15px;
}

.build-section h3.subscribe-sec {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.btn-s input:checked+.slider:before {
  -webkit-transform: translateX(151px);
  -ms-transform: translateX(151px);
  transform: translateX(49px);
}

/*-- end section */


/* ---------------- check out section  */
.checkout-section {
  background-color: #19327D;
  color: #fff;
  padding: 15px 0 50px 0;
}

.checkout-section .new_tab {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.checkout-section .progress-container {
  position: relative;
  margin: 50px 50px 50px 1px;
  padding: 4px 0 0;
  width: 70%;
  height: 6px;
  background: #fff;
  -moz-box-shadow: inset 0 0 2px #666;
  -webkit-box-shadow: inset 0 0 2px #666;
  box-shadow: inset 0 0 2px #666;
  width: 75%;
}

.checkout-section .new_tab .progress-bar {
  height: 7px;
  position: absolute;
  top: 0px;
}

.checkout-section .progress-bar {
  display: block;
  position: relative;
  height: 2px;
  background: rgba(var(--text-color), .15);
}

.checkout-section .progress-bar:before {
  content: "";
  position: absolute;
  top: 0;
  width: calc(100% / var(--divider));
  height: 100%;
  transform: translate(calc(var(--transform-logical-flip) * 0% * (var(--divider) - 1)));
  transform: translate(calc(var(--transform-logical-flip) * var(--transform, 0%) * (var(--divider) - 1)));
  transform-origin: var(--transform-origin-start);
  background: rgb(var(--text-color));
}

.checkout-section .section_fixed {
  position: sticky;
  top: 77px;
  font-size: 20px;
  overflow: unset;
  z-index: 111;
}

.checkout-section .progress-container ul.first_list li {
  position: absolute;
  top: -22px;
  left: 0;
  margin: 0;
  font-weight: 600;
  background: #fff;
  border-radius: 50%;
  display: flex;
  line-height: 26px;
  justify-content: center;
  padding: 10px;
  border: 3px solid transparent;
}

.checkout-section .progress-container ul.first_list li {
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #19327d;
  line-height: 1;
  font-weight: 600;
}

.checkout-section .progress-container ul.first_list li:nth-child(1) {
  position: absolute;
  top: -50px;
  left: 0;
  margin: 0;
  padding: 0;
  display: inline-table;
  background: transparent !important;
  border-radius: 0px !important;
  color: #ffff;
  font-size: 15px;
  font-weight: 400;
}

.checkout-section .progress-container ul.first_list li:nth-child(1) {
  position: absolute;
  top: -50px;
  left: 0;
  margin: 0;
  padding: 0;
  display: inline-table;
  background: transparent !important;
  border-radius: 0px !important;
  color: #ffff;
  font-size: 15px;
  font-weight: 400;
  padding-left: 0px !important;
}

.checkout-section .progress-container ul.first_list li:nth-child(2) {
  margin-left: 33%;
}

.checkout-section .progress-container ul.first_list li:nth-child(3) {
  margin-left: 66%;
}

.checkout-section .progress-container ul.first_list li:last-child {
  margin-left: 100%;
}

.checkout-section .progress-container ul.sec_list li {
  position: absolute;
  top: 30px;
  left: 0;
  margin: 0;
  padding: 0;
  display: inline-table;
  padding: 8px !important;
  font-weight: 500;
  font-size: 14px;
}

.checkout-section .progress-container ul.sec_list li:nth-child(1) {
  position: absolute;
  top: 30px;
  left: 0;
  margin: 0;
  padding: 0;
  display: inline-table;
  background: transparent !important;
  border-radius: 0px !important;
  color: #ffff;
  font-size: 14px;
  font-weight: 500;
}

.checkout-section .progress-container ul li span {
  display: block;
  top: 50px;
  background: transparent !important;
  color: #fff !important;
}

.checkout-section .progress-container ul.sec_list li:nth-child(2) {
  margin-left: 30%;
}

.checkout-section .progress-container ul.sec_list li:nth-child(3) {
  margin-left: 63%;
}

.checkout-section .progress-container ul.sec_list li:last-child {
  margin-left: 97%;
  width: 20%;
  text-align: left;
}

.checkout-section .new_tab .button-wrapper {
  width: 25%;
}

.checkout-section .new_tab .button-wrapper {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 25px;
}

.checkout-section .new_tab .button-wrapper a {
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-radius: 50px;
  padding: 13px 20px;
  font-size: 18px;
  line-height: 1.05;
  font-weight: 700;
  color: #19327d;
  text-decoration: none;
  text-transform: uppercase;
}

.checkout-section .loader-button__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
}

.checkout-section .column-box-sec {
  display: grid;
  width: 100%;
  grid-gap: 1%;
  /* --items: 7; */
  /* --width: 50vw; */
  /* display: grid; */
  /* grid-template-columns: repeat(var(--items), 1fr); */
  grid-template-columns: repeat(6, 1fr);
  padding-top: 50px;
}

.checkout-section .col-box {
  width: 100%;
  display: block;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  /* display: flex; */
  align-items: center;
  /* padding: 5%; */
  /* background-color: #1E1E1E; */
  color: #fff;
}

.checkout-section .col-box-inr {
  width: 100%;
  border: 1px dashed #ccc;
  aspect-ratio: 1/ 1;
  padding: 0px !important;
  overflow: hidden;
}

.checkout-section .progress-container ul.sec_list li {
  text-align: center;
}

/* ------- end section  */


/* ---------  best seller section  */
.seller-section {
  padding: 50px 0;
}

.seller-section .section-title h2 {
  font-size: 54px;
  line-height: 1.05;
  font-weight: 700;
}

.seller-section .section-title {
  text-align: center;
  padding-bottom: 48px;
}

.seller-section .seller-box {
  padding-right: 10px;
  padding-left: 10px;
}

.seller-section .seller-box-bottom {
  padding-top: 20px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.seller-section .box-title h5 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
}

.seller-section .box-subtitle h6 {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 400;
}

.seller-section .review-two-col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.seller-section .rating__stars {
  line-height: 0;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 2px;
  column-gap: 2px;
}

.seller-section .review-right {
  padding-left: 8px;
  font-size: 17px;
}

.seller-section .button {
  background-color: #19327d;
  color: #fff;
  transition: all ease 0.3s;
  border-radius: 40px;
  margin-top: 8px;
  padding: 16px 12px;
  border: 1px solid #19327d;
  width: 100%;
  cursor: pointer;
}

.seller-section span.loader-button__text {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.seller-section span.dash {
  margin-left: 4px;
  margin-right: 4px;
}

.seller-section span.span_org_price.hide_button {
  display: none;
}

.seller-section span.span_sub_price {
  letter-spacing: 1px;
}

.seller-section span.span_sub_price ins {
  text-decoration: none;
}

.seller-section .slick-next:before,
.seller-section .slick-prev:before {
  display: none;
}

.seller-section .slick-next {
  width: 56px;
  height: 56px;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg clip-rule='evenodd' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%2319327d' d='m14.523 18.787s4.501-4.505 6.255-6.26c.146-.146.219-.338.219-.53s-.073-.383-.219-.53c-1.753-1.754-6.255-6.258-6.255-6.258-.144-.145-.334-.217-.524-.217-.193 0-.385.074-.532.221-.293.292-.295.766-.004 1.056l4.978 4.978h-14.692c-.414 0-.75.336-.75.75s.336.75.75.75h14.692l-4.979 4.979c-.289.289-.286.762.006 1.054.148.148.341.222.533.222.19 0 .378-.072.522-.215z' fill-rule='nonzero'/%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px auto;
  position: absolute;
  right: 11px;
  z-index: 1;
  top: 22%;
  border-radius: 50%;
  font-size: 0;
}

.seller-section .slick-prev {
  width: 56px;
  height: 56px;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px auto;
  position: absolute;
  left: 11px;
  z-index: 1;
  top: 22%;
  border-radius: 50%;
  font-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg clip-rule='evenodd' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%2319327d' d='m9.474 5.209s-4.501 4.505-6.254 6.259c-.147.146-.22.338-.22.53s.073.384.22.53c1.752 1.754 6.252 6.257 6.252 6.257.145.145.336.217.527.217.191-.001.383-.074.53-.221.293-.293.294-.766.004-1.057l-4.976-4.976h14.692c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-14.692l4.978-4.979c.289-.289.287-.761-.006-1.054-.147-.147-.339-.221-.53-.221-.191-.001-.38.071-.525.215z' fill-rule='nonzero'/%3E%3C/svg%3E");
}

.seller-section .slick-next.slick-disabled,
.seller-section .slick-prev.slick-disabled {
  opacity: 0.6;
  cursor: default;
}

.seller-section .sell-box img {
  width: 100%;
}

.seller-section .button:hover {
  background-color: transparent;
  color: #19327d;
}


/* ---------- end section ------*/


/*-=-=- Only Desktop CSS -=-=-*/
@media (min-width:768px) {}

@media (min-width:1081px) {}

@media (max-width:1320px) {}

/*-=-=- Smaller Desktop Devices -=-=-*/

@media (max-width:1280px) {}

@media (max-width:1230px) {}


/*-=-=-  Tablet Landscape and Smaller Devices -=-=-*/
@media (max-width:1080px) {

  /* .wrapper { max-width:900px } */
  .tabw20 {
    width: 20%;
  }

  .tabw33 {
    width: 33.33%;
  }

  .tabw50 {
    width: 50%;
  }

  .tabw100 {
    width: 100%;
  }

  /* ---------------- check out section  */

  .new_tab {
    padding-left: 0;
    padding-right: 0;
  }

  .progress-container {
    width: 62% !important;
  }

  .new_tab .button-wrapper {
    width: 38% !important;
  }

  .checkout-section .progress-container ul.sec_list li:last-child {
    text-align: center;
  }

  /* - end section  */

  /*------  best seller section   */

  .seller-section .slick-list {
    padding-right: 20%;
  }

  .seller-section .wrapper {
    padding-right: 0;
  }

  .seller-section .section-title {
    padding-right: 15px;
  }

  .seller-section .section-title h2 {
    line-height: 1.04;
    font-size: 44px;
  }

  /*-------- end section ------  */
}



@media (min-width: 992px) {}

/*-=-=-  Tablet Portrait and Smaller Devices -=-=-*/
@media (max-width:991px) {

  /* .wrapper { max-width:700px } */

  h1,
  .h1 {
    font-size: 26px;
  }

  h2,
  .h2 {
    font-size: 20px;
  }

  h3,
  .h3 {
    font-size: 19px;
  }

  h4,
  .h4 {
    font-size: 18px;
  }

  h5,
  .h5 {
    font-size: 18px;
  }

  h6,
  .h6 {
    font-size: 16px;
  }

  .pb40,
  .p40-0 {
    padding-bottom: 25px;
  }

  .pb50,
  .p50-0 {
    padding-bottom: 30px;
  }

  .pb60,
  .p60-0 {
    padding-bottom: 35px;
  }

  .pb70,
  .p70-0 {
    padding-bottom: 40px;
  }

  .pt40,
  .p40-0 {
    padding-top: 25px;
  }

  .pt50,
  .p50-0 {
    padding-top: 30px;
  }

  .pt60,
  .p60-0 {
    padding-top: 35px;
  }

  .pt70,
  .p70-0 {
    padding-top: 40px;
  }

  .p90-0 {
    padding: 40px 0;
  }

  .pb90 {
    padding-bottom: 40px;
  }


  /* ----- check out section  */

  .checkout-section .new_tab {
    padding-right: 10px;
    padding-left: 10px;
  }

  .checkout-section .progress-container {
    width: 70%;
  }

  .checkout-section .new_tab .button-wrapper {
    width: 30%;
  }

  /*------------ end section ----  */
}


/*-=-=-  Mobile Devices -=-=-*/

@media (max-width:767px) {
  .wrapper {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .mtop10 {
    margin-top: 10px;
  }

  /* >>>>>>> margin top 10px in mobile <<<<<<<< */
  .mtop20 {
    margin-top: 20px;
  }

  /* >>>>>>> margin top 20px in mobile <<<<<<<< */
  .mtop30 {
    margin-top: 30px;
  }

  /* >>>>>>> margin top 30px in mobile <<<<<<<< */
  .mbottom30 {
    margin-bottom: 30px;
  }

  .mpt0,
  .mp0 {
    padding-top: 0 !important;
  }

  .mpb0,
  .mp0 {
    padding-bottom: 0 !important;
  }

  .mobile-center {
    text-align: center;
  }

  /*>>>>>>>    text-align:center in mobile   <<<<<<<<<<<<*/
  .mobile-center.text-right {
    text-align: center;
  }

  .mw20 {
    width: 20%;
  }

  .mw33 {
    width: 33.33%;
  }

  .mw50 {
    width: 50%;
  }

  .mw100 {
    width: 100%;
  }

  /*---------------  banner section ------------ */

  .build-section {
    padding: 40px 0;
  }

  .build-section h3.heading {
    font-size: 28px;
    line-height: 1.04;
  }

  .build-section span.bundle-desc-s {
    font-size: 17px;
    line-height: 1.7;
  }

  .build-section .content-box-s {
    padding-top: 15px;
  }

  .build-section h3.heading-s {
    font-size: 16px;
  }

  .build-section .switch-button-s {
    height: 42px;
  }

  .build-section .slider:before {
    height: 33px;
    width: 33px;
  }

  .build-section .btn-s input:checked+.slider:before {
    left: 8px;
  }

  .build-section .bundle-sub h3 {
    font-size: 15px;
    line-height: 1.06;
  }


  /*-------- end section -------- */

  /* ---------------- check out section  */

  .checkout-section .new_tab {
    padding-left: 5px;
    padding-right: 5px;
    display: block;
  }

  .checkout-section .progress-container {
    position: relative;
    margin: 36px 50px 49px 1px !important;
    width: 90%;
    margin-left: 0px !important;
    height: 4px;
  }

  .checkout-section .new_tab .progress-bar {
    height: 4px !important;
  }

  .checkout-section .new_tab .progress-bar {
    height: 4px;
    position: absolute;
    top: 0px;
  }

  .checkout-section .progress-container ul.first_list li:nth-child(1) {
    display: none !important;
  }

  .checkout-section .progress-container ul.first_list li {
    position: absolute;
    top: -18px;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    width: 35px !important;
    height: 35px !important;
  }

  .checkout-section .progress-container ul.sec_list li:nth-child(1),
  .progress-container ul.sec_list li {
    top: 24px !important;
  }

  .checkout-section .progress-container ul.sec_list li {
    width: 34%;
    text-align: center;
    line-height: 13px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 0px !important;
  }

  .checkout-section .progress-container ul.sec_list li:first-child {
    text-align: left;
  }

  .checkout-section .progress-container span {
    font-size: 10px !important;
  }

  .checkout-section .progress-container ul.sec_list li:nth-child(2) {
    margin-left: 21%;
  }

  .checkout-section .progress-container ul.sec_list li:nth-child(3) {
    margin-left: 55%;
  }

  .checkout-section .progress-container ul.sec_list li:last-child {
    margin-left: 90%;
    width: 24%;
  }

  .checkout-section .new_tab .button-wrapper {
    padding: 10px 0;
    width: 100%;
  }

  .checkout-section .new_tab .button-wrapper a {
    padding: 10px 25px;
    font-size: 16px;
    line-height: 1.06;
    text-transform: uppercase;
  }

  .checkout-section .column-box-sec {
    padding-top: 20px;
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .checkout-section .progress-container ul.sec_list li:last-child {
    padding-right: 0 !important;
  }

  .checkout-section {
    padding-bottom: 40px;
  }

  .checkout-section .new_tab .button-wrapper {
    width: 100% !important;
  }

  .checkout-section .progress-container {
    width: 90% !important;
  }

  /* ------- end section  */

  /*- best seller section --------------  */

  .seller-section .section-title h2 {
    font-size: 32px;
  }

  .seller-section .section-title {
    padding-bottom: 30px;
  }

  .seller-section {
    padding-bottom: 140px;
  }

  .seller-section .slick-next {
    top: calc(100% + 70px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    left: calc(50% + 15px);
  }

  .seller-section .slick-prev {
    position: absolute;
    top: calc(100% + 70px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    left: calc(50% - 65px);
  }

  .seller-section .review-right {
    font-size: 16px;
  }

  /*-- end section -------------  */
}