@media(max-width:1900px) {
    div#history-tabs {
        height: 627px;
    }
}

@media(max-width:1366px) {
    div#history-tabs {
        height: 670px;
    }
}

@media only screen and (max-width: 1200px) and (max-width: 1300px) {
    .Polaris-Layout__Section.subscription_show_table {
        flex: 2 2 43rem;
        min-width: 51%;
        max-width: 50%;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1400px) {
    .Polaris-Layout__Section.subscription_show_table {
        flex: 2 2 25rem;
        min-width: 11%;
        max-width: 50%;
    }
}

.billing_card {
    height: 216px;
}

label.label_resume_date_picker {
    font-size: 11px;
    font-weight: 800;
    display: block;
}