$primary: #007EFF;
// MODAL POSTION

.Polaris-Modal-Dialog__Modal {
  @media (max-width: 1000px) {
    bottom: unset;
    top: 0;
  }
}

div.Polaris-Modal-Dialog__Container {
  justify-content: flex-start;
  margin-top: 50px;
}

// EDIT SUBSCRIPTION MODAL

.edit-subscription-modal {
  .header {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    div {
      outline: 0 none;
      > h2 {
        font-size: 22px;
        font-weight: bold;
        margin-left: 40px;

        @media (max-width: 1000px) {
          font-size: 18px;
          line-height: 24px;
          margin-left: 10px;
        }
      }
      > svg {
        cursor: pointer;
      }
    }
  }
  .subscription-details {
    padding: 0px 35px;
    .img {
      width: 200px;
      height: 100px;
      margin: 30px auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .title {
      padding-bottom: 20px;
      border-bottom: 1px solid #ddd;
      h2 {
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 16px;
        font-weight: 900;
        color: #4D506A;
      }
    }
    .delivery-charge {
      padding: 20px 0px;
      border-bottom: 1px solid #ddd;

      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:nth-child(1) {
          margin-bottom: 16px;
        }

        h3 {
          color: #C4C4C4;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
        }
        h4 {
          color: #000;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
    .btn-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 20px;

      > button {
        width: 100%;
        height: 40px;
        border: 1px solid #ddd;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 10px;
        background: transparent;
        cursor: pointer;
        outline: 0 none;

        &.light {
          color: #ddd;
        }
      }
    }
  }
}

// SWAP SUBSCRIPTION MODAL

.swap-subscription-modal, .upgrade-subscription-modal {
  .header {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    div {
      outline: 0 none;
      > h2 {
        font-size: 22px;
        font-weight: bold;
        margin-left: 40px;

        @media (max-width: 1000px) {
          font-size: 18px;
          line-height: 24px;
          margin-left: 10px;
        }

        > span.blue {
          color: $primary;
        }
      }
      > svg {
        cursor: pointer;
      }
    }
  }
  .swap-grid  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 30px;

    @media (max-width: 768px) {
      display: block;
    }

    > .item {
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
      border-radius: 5px;
      padding: 25px 40px;

      .img {
        width: 100%;
        height: 115px;
        margin-bottom: 25px;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .title {
        > h2 {
          font-size: 18px;
          line-height: 24px;
          font-weight: bold;
          text-align: center;
          margin-bottom: 15px;
        }
        > p {
          font-size: 14px;
          text-align: center;
          color: #ACB5BD;
        }
      }
      .variants-wrapper {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        > label {
          margin: 5px 0;
        }
      }
      .btn-wrapper {
        margin-top: 10px;
        > button {
          width: 100%;
          height: 40px;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          color: #fff;
          background: $primary;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          outline: 0 none;
          transition: 0.3s all ease-in-out;

          &:hover {
            background: #43a1ff;
          }
        }
      }
    }
  }
}

// SWAP SUBSCRIPTION MODAL

.cancel-subscription-modal {
  .header {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 33px;

    div {
      outline: 0 none;
      > h2 {
        font-size: 22px;
        font-weight: bold;

        @media (max-width: 1000px) {
          font-size: 18px;
          line-height: 24px;
        }

        > span.blue {
          color: $primary;
        }
      }
      > svg {
        cursor: pointer;
      }
    }
  }
  .warning {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 0px;
    border-bottom: 1px solid #ddd;

    > h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 25px;
      color: #212B36;
      text-align: center;
      line-height: 24px;
    }
    > h3 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 25px;
      color: #212B36;
      text-align: center;
      line-height: 24px;
    }
    > p {
      font-size: 18px;
      font-weight: bold;
      color: #8B8A8A;
      text-align: center;
      line-height: 24px;
    }
  }
  .btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

    @media (max-width: 1000px) {
      flex-direction: column;
    }

    button {
      width: 228px;
      height: 40px;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
      outline: 0 none;

      &.btn-cancel {
        border: 1px solid #C6C7C8;
        background: #fff;
        margin-right: 20px;
        font-weight: 600px;

        @media (max-width: 1000px) {
          margin: 15px 0px;
        }
      }
      &.btn-keep {
        background: $primary;
        color: #fff;
        border: none;
        font-weight: 800;
      }
    }
  }
}


.chargezen.page-subscriptions {
  .Polaris-Page {
    max-width: unset;
  }

  &.show {
    .Polaris-TextField.Polaris-TextField--hasValue input {
      width: 50px;
    }

    .Polaris-Icon {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 5px;
    }

    .Polaris-Layout__Section--oneSix .Polaris-Card {
      min-height: 120px;
    }

    .Polaris-TextContainer.Polaris-TextContainer--spacingTight {
      margin-bottom: 5px;
    }

    .Polaris-Button--plain {
      .Polaris-Icon, .Polaris-Button__Text {
        color: black;
      }
    }

    .Polaris-FormLayout__Item--firstOne {
      margin-left: 0;
    }

    .mr-10 {
      margin-right: 10px;
    }
  }

  &.index {
    //
  }
}

.text-par {
  display: flex;
  justify-content: space-between;

  .skip-btn {
    background-color: $primary;
    color: #fff;
    border: 0;
    padding: 6px 12px;
    border-radius: 3px;
    margin-top: 3px;
    outline: 0;
  }
}

.hidden {
  display: none;
}

/* for input change and appluy */


    .quantity-field {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 30px;

      div {
        display: flex;
        align-items: center;
        > span.label {
          font-size: 16px;
          font-weight: 900;
          margin-right: 10px;
        }
        > .btn-wrapper {
          display: inline-flex;
          > button {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #fff;
            border: 1px solid #b7b7b7;
            outline: 0 none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            &:active {
              border-color: #007EFF;
            }
          }
          > input {
            border: none;
            -moz-appearance: textfield;
            outline: 0 none;
            width: 30px;
            text-align: center;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
        > .update-quantity  {
          margin-left: 30px;
          display: none;

          &.active {
            display: inline;
          }

          > button[type="submit"] {
            border-radius: 12px;
            border: none;
            color: #fff;
            background: $primary;
            font-size: 14px;
            font-weight: bold;
            padding: 7px;
            transition: 0.3s all ease-in-out;
            cursor: pointer;

            &:hover {
              background: #5badff;
            }
          }
        }
      }
    }
 
