@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    src: url('../../../assets/fonts/AvenirLTStd.ttf') format('truetype');
}

/* 
.dashboard_left {
    padding: 20px 0 0 30px;
} */
.dashboard_main_div {
    width: 100%;
    padding: 20px;
    background: #F8F9FF;
}

.dashboard_left .dashboard_header .main_head {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    color: #1C1F37;
    padding-bottom: 5px;
}

.dashboard_left .sub_head {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #6F6F6F;
}

.dashboard_header {
    padding-bottom: 25px;
}

.Polaris-Card .Polaris-Card__Header {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #1C1F37;
    border-radius: 8px 8px 0 0;
}

.Polaris-Card .Polaris-Card__Header span {
    margin-right: 15px;
}

.customer_activity_div img.avatar {
    max-width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 0;
    padding: 0;
}

.top_section {
    width: 100%;
    max-width: 100%;
}

.top_section .revenue_overview_div {
    max-width: 100%;
}

h2.Polaris-Heading {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #1C1F37;
}

.customer_activity_right .heading h2 {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #1C1F37;
    padding-right: 25px;
}

.customer_activity_div {
    display: flex;
}

.customer_activity_div .heading {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;

}

.customer_activity_div .body h6 {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #1C1F37;
}

.customer_activity_div {
    display: flex;
    padding: 10px 0;
    background: #FAFAFA;
    border-radius: 6px;
    margin-bottom: 15px;
}

/* .dashboard_right .graphs_main .content_summary_main svg.highcharts-root,
.dashboard_right .graphs_main .content_summary_main .highcharts-container {
    width: 100% !important;
} */



.dashboard_right {
    display: flex;
}



.right_section_sub {
    background: #F5F7FB;
    padding: 20px;
    border-radius: 6px;
    max-width: 198px;
    margin: 0 auto;
}

.mrr_first {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    color: #1C1F37;
}

.mrr_second {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #1C1F37;
    padding-bottom: 10px;
}


.right_section_sub .mrr_div:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}

.report {
    padding-top: 15px;
}

.report h2 {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.bottom_section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 15px;
    justify-content: space-between;
    margin-top: 35px;
}

.report h6 {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    opacity: 0.5;
}

.bottom_section .right_section {
    flex: 0 0 28%;
    max-width: 28%;
}

.bottom_section .left_section {
    flex: 0 0 70%;
    max-width: 70%;
}

.bottom_section .graph_main .left_section .highcharts-container,
.bottom_section .graph_main .left_section .highcharts-container svg.highcharts-root {
    width: 100% !important;
}


.graph_main {
    display: flex;
}

.app-content .Polaris-Page {
    max-width: 100%;
    padding: 0;
    margin-left: 28px;
}

.Polaris-Layout {
    margin-left: 0 !important;
}

.mrr_second .subs_icon {
    position: relative;
    padding-left: 20px;
}

.mrr_second {
    position: relative;
}

.mrr_second .subs_icon:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    background: #017EFA;
    border-radius: 4px;
    left: 0;
    top: 0;
}


.mrr_second .subs_icon.pink:before {
    background: #FD1F9B;
}


.bottom_section .left_section .body {
    display: flex;
    justify-content: space-around;
    column-gap: 32px;
    align-items: baseline;
    margin-left: 5%;
}

.bottom_section .left_section .body .Polaris-Card {
    flex: 0 0 25%;
    max-width: 25%;
    height: 120px;
}

.revenue_heading {
    display: flex;
    justify-content: space-between;
}



.left_heading {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
}

.right_heading {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #06C270;
}

.total_sales {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 750;
    font-size: 28px;
    line-height: 125%;
}

.main_head {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #202223;
}


.main_head {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #202223;
}

.report {
    display: flex;
    column-gap: 15px;
}

.report .Polaris-Icon__Svg {
    fill: #017EFA !important;
}

.heading_title svg {
    background: #017EFA;
    border-radius: 50%;
    padding: 5px;
    width: 34px;
    height: 34px;
    left: 343px;
    top: 225px;
}

.highcharts-figure {
    max-width: calc(100% - 250px);
    width: 100%;
    flex: calc(100% - 250px);
    margin: 0;
    padding: 40px 20px 30px;
    border-right: 1px solid #dadada80;
}

.top_section .right_section {
    max-width: 250px;
    padding: 15px 24px 10px;
}

.revenue_overview_div .Polaris-Card>.Polaris-Card__Section {
    padding: 0;
}

.Polaris-Card__Header {
    border-bottom: 1px solid #dadada80;
}

.Polaris-Page__Content .Polaris-Card {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: none;
}

.dashboard_main_div {
    width: 100%;
    padding: 20px;
}

.revenue_overview_div .Polaris-Stack>.Polaris-Stack__Item,
.revenue_overview_div .Polaris-Stack--alignmentBaseline {
    margin: 0;
}

.heading_title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Polaris-Card .Polaris-Card__Header {
    padding: 20px 20px 10px;
}

.dashboard_right .highcharts-figure svg {
    max-width: 100%;
}

.chargezen .revenue_overview_div .Polaris-Card__Header .Polaris-Button:not(.Polaris-Button--plain) {
    background: #F5F7FB;
    color: #A9ABB0;
    border: none;
    margin: 0;
}

.chargezen .revenue_overview_div .Polaris-Card__Header .Polaris-Button:not(.Polaris-Button--plain) span {
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
}

.revenue_overview_div .Polaris-Stack>.Polaris-Stack__Item .Polaris-ButtonGroup,
.chargezen .revenue_overview_div .Polaris-ButtonGroup__Item,
.chargezen .Polaris-Card__Header .Polaris-Button,
.chargezen .revenue_overview_div .Polaris-Card .Polaris-Card__Header span {
    margin: 0;
}

.chargezen .revenue_overview_div span.Polaris-Button__Text .Polaris-ButtonGroup {
    gap: 10px;
    margin: 0;
}

.revenue_overview_div .Polaris-Stack.Polaris-Stack--alignmentBaseline {
    align-items: center;
}

.customer_activity_right svg {
    width: 14px;
    fill: #51CBFF !important;
}

.customer_activity_div {
    align-items: center;
    padding: 10px;
}

.customer_activity_div .heading h3 {
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    color: #1C1F37;
}

.customer_activity_div .customer_activity_right {
    max-width: calc(100% - 42px);
    flex: 100%;
    padding-left: 15px;
}

.customer_activity_div .body {
    display: flex;
    justify-content: flex-start;
}

.customer_activity_div .customer_activity_right .body span.Polaris-Icon {
    margin: 0;
}

.top_section .Polaris-Stack.Polaris-Stack--alignmentBaseline>.Polaris-Stack__Item>.Polaris-ButtonGroup>.Polaris-ButtonGroup__Item.Polaris-ButtonGroup__Item--plain>button.Polaris-Button.Polaris-Button--plain {
    padding: 0 !important;
}

.right_section .report span.Polaris-Icon {
    display: inline-flex;
    background: #E6F3FF;
    padding: 6px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.right_section .report {
    gap: 8px;
}

.module-navbar .app_content {
    background: #F8F9FF;
}


/* 23-12-2022 */
.module-navbar.dashboardArea.collapsedNav .app_content {
    left: 100px;
    max-width: calc(100% - 100px);
}

.Polaris-Navigation__Item .Polaris-Navigation__Text {
    transition: 0.3s ease all;
}



.logo img {
    transition: 0.3s ease all;
}

.module-navbar.dashboardArea.collapsedNav .logo img {
    transform: translateX(85px) scale(1.8);
}

.module-navbar.dashboardArea.collapsedNav .navBar {
    max-width: 100px;
}


.module-navbar.dashboardArea.collapsedNav .collapsible_button .Polaris-Button {
    transform: scaleX(-1);
}

.module-navbar .Polaris-Button svg {
    transform: translate(-1px, 2px);
}

.collapsible_button .Polaris-Button {
    position: absolute;
    left: calc(100% - 23px);
    top: 10px;
    border: 1px solid #DADADA;
    background: #fff;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    padding: 0 !important;
}

.module-navbar.dashboardArea.collapsedNav .logo img {
    transform: translate(130px, 30px) scale(4);
}

.navBar .logo img {
    max-width: 180px;
}

.module-navbar.dashboardArea.collapsedNav .Polaris-Navigation__Section {
    margin-top: 30px;
}

.navBar .sidBartabs nav.Polaris-Navigation {
    min-width: 100%;
    max-width: 100px;
}

.module-navbar.dashboardArea.collapsedNav .Polaris-Navigation__Item .Polaris-Navigation__Text {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    position: absolute;
    overflow: hidden;
}

.navBar {
    z-index: 9;
}

.logo_main {
    overflow: hidden;
    height: 70px;
}



/* left sidebar */

.module-navbar.dashboardArea.collapsedNav .Polaris-Navigation__SecondaryNavigation.Polaris-Navigation--isExpanded {
    width: 30px;
    margin: 0;
}

.module-navbar.dashboardArea.collapsedNav .Polaris-Navigation__SecondaryNavigation.Polaris-Navigation--isExpanded .Polaris-Collapsible {
    max-width: 40px;
    margin: 0 auto;
}

.module-navbar.dashboardArea.collapsedNav .Polaris-Navigation__Icon {
    margin: auto;
}

.module-navbar.dashboardArea.collapsedNav .navBar .sidBartabs ul li a span {
    margin: 0;
}

.module-navbar.dashboardArea.collapsedNav .navBar .sidBartabs ul li a {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.module-navbar.dashboardArea.collapsedNav .navBar {
    line-height: normal !important;
}

.module-navbar.dashboardArea.collapsedNav .navBar .sidBartabs ul li ul li {
    margin: 10px auto;
}


.module-navbar.dashboardArea.collapsedNav .navBar .sidBartabs ul li a.Polaris-Navigation__Item .Polaris-Navigation__Icon {

    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.module-navbar.dashboardArea.collapsedNav .navBar .sidBartabs ul li::before {
    display: none;
}

.navBar .sidBartabs ul li a span.Polaris-Navigation__Text {
    color: #fff !important;
    font-weight: 600 !important;
}

.Polaris-Navigation__Item:hover {
    background: #1B2B65 !important;
    border-radius: 8px 0 0 8px !important;
}

.Polaris-Navigation__ItemWrapper,
.Polaris-Navigation__ItemWrapper * {
    opacity: 1 !important;
}

.navBar .sidBartabs ul li .Polaris-Navigation--subNavigationActive .Polaris-Navigation__Text {
    color: #51CBFF !important;
}

@media (max-width: 1700px) {
    figure.highcharts-figure>div {
        overflow-x: auto !important;
    }

    .top_section .revenue_overview_div {
        flex-basis: 100%;
        max-width: 100%;
    }
}